In [1]:
import pandas as pd

#### Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [55]:
jun = pd.read_csv("data/2017_jun_final.csv", index_col=0, parse_dates=True)

#### Прочитайте полученную таблицу используя метод head

In [56]:
jun.head(3)

,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
N,,,,,,,,,,,,,,,,,,,,,
1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV

#### Определите размер таблицы с помощью метода shape

In [57]:
jun.shape

(8704, 24)

#### Определите типы всех столбцов с помощью dataframe.dtypes

In [58]:
jun.dtypes

Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

#### Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [59]:
pd.isnull(jun).sum()

Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

#### Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [154]:
subset = list(jun.iloc[:, 2:].columns)
subset

# jun.drop(subset, axis=1)

['Специализация',
 'Общий.опыт.работы',
 'Опыт.работы.на.текущем.месте',
 'Зарплата.в.месяц',
 'Изменение.зарплаты.за.12.месяцев',
 'Город',
 'Размер.компании',
 'Тип.компании',
 'Пол',
 'Возраст',
 'Образование',
 'Университет',
 'Еще.студент',
 'Уровень.английского',
 'Предметная.область',
 'Дата.заполнения',
 'User.Agent',
 'exp',
 'current_job_exp',
 'salary',
 'Валюта',
 'cls']

#### Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

#### Удалите все строки в исходной таблице с помощью метода dropna

#### Определите новый размер таблицы с помощью метода shape

#### Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

#### Определите размер таблицы python_data с помощью метода shape

#### Используя метод groupby выполните группировку по столбцу "Должность"

#### Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

#### Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

#### Создайте описательную статистику с помощью метода describe для нового столбца.

#### Сохраните полученную таблицу в CSV файл