In [1]:
import pandas as pd

#### Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [55]:
jun = pd.read_csv("data/2017_jun_final.csv", index_col=0, parse_dates=True)

#### Прочитайте полученную таблицу используя метод head

In [56]:
jun.head(3)

,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
N,,,,,,,,,,,,,,,,,,,,,
1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,Аутсорсинговая,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,Аутсорсинговая,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,Аутсорсинговая,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV

#### Определите размер таблицы с помощью метода shape

In [57]:
jun.shape

(8704, 24)

#### Определите типы всех столбцов с помощью dataframe.dtypes

In [58]:
jun.dtypes

Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

#### Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [59]:
pd.isnull(jun).sum()

Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

#### Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [163]:
subset = jun.isnull().sum()[jun.isnull().sum() > 0]
idx = subset.index
jun.drop(idx[1:], axis=1, inplace=True)

#### Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [164]:
pd.isnull(jun).sum()

Должность                              0
Язык.программирования               3850
Специализация                          0
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                            0
Еще.студент                            0
Уровень.английского                    0
Предметная.область                     0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

#### Удалите все строки в исходной таблице с помощью метода dropna

In [165]:
jun = jun.dropna()

#### Определите новый размер таблицы с помощью метода shape

In [166]:
jun.shape

(4854, 22)

#### Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [169]:
python_data = jun[jun['Язык.программирования'] == 'Python']

#### Определите размер таблицы python_data с помощью метода shape

In [170]:
python_data.shape

(207, 22)

#### Используя метод groupby выполните группировку по столбцу "Должность"

In [173]:
python_data.groupby('Должность').sum()

,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Пол,Образование,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary
Должность,,,,,,,,,,
Junior Software Engineer,35333,11405,1523,24,55.25,33.00,35333,55.25,33.00,35333
Senior Software Engineer,105000,13380,901,1,207.00,48.25,105000,207.00,48.25,105000
Software Engineer,179907,47983,2663,13,318.00,112.75,179907,318.00,112.75,179907
System Architect,8000,0,71,0,20.00,2.25,8000,20.00,2.25,8000
Technical Lead,34825,5005,331,0,78.00,37.25,34825,78.00,37.25,34825

#### Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [176]:
new_df = pd.DataFrame(jun)
new_df.groupby(['Должность']).agg({'Зарплата.в.месяц': ['min', 'max']})

                              Зарплата.в.месяц
                                           min   max
Должность
Data Scientist / Data Analyst              300   300
DevOps                                    5500  5500
ERP / CRM                                 1000  1000
HTML coder                                -300   350
Junior Software Engineer                 -2000  4000
Product Manager                            500   500
Senior Software Engineer                 -1821  8000
Software Engineer                        -1500  4500
System Architect                          -400  4000
Team lead                                  500   500
Technical Lead                            -500  5000

#### Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [187]:
def fill_avg_salary(salary):
    return salary.mean()

avg = new_df.groupby('Должность').agg('Зарплата.в.месяц').apply(fill_avg_salary)
table = new_df.groupby(['Должность']).agg({'Зарплата.в.месяц': ['min', 'max']})
table['avg'] = avg
table

                              Зарплата.в.месяц                avg
                                           min   max
Должность
Data Scientist / Data Analyst              300   300   300.000000
DevOps                                    5500  5500  5500.000000
ERP / CRM                                 1000  1000  1000.000000
HTML coder                                -300   350    70.000000
Junior Software Engineer                 -2000  4000   214.321094
Product Manager                            500   500   500.000000
Senior Software Engineer                 -1821  8000   428.262037
Software Engineer                        -1500  4500   448.833026
System Architect                          -400  4000   436.923077
Team lead                                  500   500   500.000000
Technical Lead                            -500  5000   433.508000

#### Создайте описательную статистику с помощью метода describe для нового столбца.

In [189]:
table['avg'].describe()

count      11.000000
mean      893.804294
std      1544.887591
min        70.000000
25%       364.131019
50%       436.923077
75%       500.000000
max      5500.000000
Name: avg, dtype: float64

#### Сохраните полученную таблицу в CSV файл

In [195]:
table.to_csv("data/salary_table.csv", index=False)